<% unless current_writer.is_admin == true%>
    welcome to writer dashboard
    <table>
      <tr>
        <th>Email</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Screenname</th>
        <th>Sex</th>
      </tr>
      <tr>
        <% @writers.each do |writer| %>
            <td><%= writer.email%></td>
            <td><%= writer.first_name%></td>
            <td><%= writer.last_name%></td>
            <td><%= writer.screen_name%></td>
            <td><%= writer.sex%></td>
            </tr>
        <% end %>
        </table>
<% end %>
