<%= form_for @user,:html => { :multipart => true } do |f| %>
  <p>

  	<%= f.label :email, "Email:" %>
    <%= f.text_field :email %></br>

    <%= f.label :password, "Password:" %>
    <%= f.text_field :password,autofocus: true, autocomplete: "off" %></br>

    <%= f.label :first_name, "Firstname:" %>
    <%= f.text_field :first_name %></br>

    <%= f.label :last_name, "Lastname:" %>
    <%= f.text_field :last_name %></br>

    <%= f.label :screen_name, "Screenname:" %>
    <%= f.text_field :screen_name %></br>

   <%= f.label :sex,"Gender:" %>
                  Male <%= f.radio_button :sex , "male" %>
                  Female <%= f.radio_button :sex , "female" %></br>

    <%= f.submit 'Submit' %>
  </p>
<% end %>
