<!DOCTYPE html>
<html>
<head>
  <title>ComplitechTask</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<% if writer_signed_in? %>
  	<% if current_writer.is_admin == true%>
    <% end %>
    <li> <%= link_to 'Edit account', edit_writer_registration_path %> </li>
    <li><%= link_to "Sign out", destroy_writer_session_path, method: :delete %></li>
  <% else %>
    
  <% end %>

</body>
</html>
