<!DOCTYPE html>
<html>
<head>
  <title>ComplitechTask</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "Complitech Task", root_path,:class => "brand"%>
      <div class="nav-collapse">
        <ul class="nav">
          <% if writer_signed_in? %>
              <% if current_writer.is_admin == true%>
                  <li> <%= link_to "Writers", writers_path %>  </li>
              <% end %>
              <li> <%= link_to 'Edit account', edit_writer_registration_path %> </li>
              <li><%= link_to "Sign out", destroy_writer_session_path, method: :delete %></li>
          <% else %>

          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="span9"><%= yield %></div>
  </div>
</div>

</body>
</html>
